<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="8.0.2" targetFramework="net461" />
  <package id="MessagePack" version="2.2.85" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.2.85" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="16.5.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Analyzers" version="3.1.2036" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Client" version="3.1.2036" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Framework" version="3.1.2036" targetFramework="net48" />
  <package id="Microsoft.ServiceHub.Resources" version="3.1.2036" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.1.386" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.0.23205" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.44" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.1.13" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.10.10" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="14.1.2" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TaskRunnerExplorer.14.0" version="14.0.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Telemetry" version="16.4.22" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.1.46" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.1.46" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.1.32210.191" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.36" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.0.43" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.6.81" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="stdole" version="7.0.3302" targetFramework="net461" />
  <package id="StreamJsonRpc" version="2.8.28" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="5.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="VsixLogger" version="1.1.44.0" targetFramework="net461" />
</packages>